nav {
   background-color: #859d8c;
   text-align:center;
}
body {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color: #859d8c;
}
ul {
    list-style-type: none;
}

.tabs {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #859d8c;
}

.tabs li {
    display:inline;
}

.tabs a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.tabs a:hover {
    background-color: white;
    color: #859d8c;
}

.about {
    background-color: #859d8c;
    color: white;
    padding: 60px;
    font-weight: lighter;
}
.about_text {
    display:inline-block;
    width: 900px;
}

h1,h2,h3{
    color: rgb(204, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.white_h2 {
    color: white;
}

.columns {
    display:inline-block;
    padding: 2em;
    width: 70em;
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid;
}

.our_sources {
    padding-top: 0;
    padding-bottom: 25px;
    margin: 0;
    display:inline-block;
    width: 900px;
}

footer li {
    display:inline;
}

footer a {
    display: inline-block;
    color: #859d8c;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}